@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<ApplicationUser>
<h1>Create Order</h1>
<form method="post" asp-controller="Admin" asp-action="GeneralOrderCreate">
    <table>
        <tr>
            <td>Note</td>
            <td><input type="text" name="notes"  /></td>
        </tr>
        <tr>
            <td>Status</td>
            <td><input type="text" name="status" /></td>
        </tr>
        
        <tr><td>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <select name="userid" class="selectpicker" data-live-search="true">
        @foreach (var usr in Model)
        {


            
                <option value="@usr.Id" >@usr.Email</option>
            

        }
    </select> <input type="Submit" value="Create" />
</td></tr>

    </table>
</form>