
<div class="p-1">

    <div>
        <h3 class="mt-3 mb-3">Kunduppgifter</h3>
        <div>
            Namn: Jane Doe
            <br />
            Email: janedoe@email.com
            <br />
            Kundnumer: 812736871263
            <br />
           <a href="#">Ändra lösenord</a>
        </div>
    </div>

    <div class="orders-container">

        <h3 class="mt-3 mb-3">Beställningar</h3>

        <div class="accordion" id="accordionExample">

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        #91237234234
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                        <div class="mb-1 mt-1">
                            <h5>Ordernummer: #91237234234</h5>
                            <h5>Status: Skickad</h5>
                        </div>

                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                                <div class="image-parent">
                                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">
                                </div>
                                <div class="order-book-info-container">
                                    <h5>Don Quixote</h5>
                                    <h5>Miguel de Cervantes</h5>
                                    <h5 class="mt-4">Antal: 1</h5>
                                    <h5>Pris: <span class="text-danger">99 kr</span></h5>
                                </div>
                            </li>
                            <hr />
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                                <div class="image-parent">
                                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/as_I_lay.jpg" class="img-fluid" alt="lay">
                                </div>
                                <div class="order-book-info-container">
                                    <h5>As I Lay Dying</h5>
                                    <h5>William Faulkner</h5>
                                    <h5 class="mt-4">Antal: 1</h5>
                                    <h5>Pris: <span class="text-danger">129 kr</span></h5>
                                </div>
                            </li>
                            <hr />
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                                <div class="image-parent">
                                    <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/things_fall_apart.jpg" class="img-fluid" alt="things">
                                </div>
                                <div class="order-book-info-container">
                                    <h5>Things Fall Apart</h5>
                                    <h5>Chinua Achebe</h5>
                                    <h5 class="mt-4">Antal: 1</h5>
                                    <h5>Pris: <span class="text-danger">99 kr</span></h5>
                                </div>
                            </li>
                            <hr />
                        </ul>

                        <div class="order-book-summary mt-4">
                            <h5>Frakt: 29 kr</h5>
                            <hr />
                            <h5>Summa: 356 kr</h5>
                        </div>

                    </div>
                </div>

            </div>

            @*<div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            #91237234234
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            <div class="mb-1 mt-1">
                                <h5>Ordernummer: #91237234234</h5>
                                <h5>Status: Skickad</h5>
                            </div>

                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                                    <div class="image-parent">
                                        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">
                                    </div>
                                    <div class="order-book-info-container">
                                        <h5>Don Quixote</h5>
                                        <h5>Miguel de Cervantes</h5>
                                        <h5 class="mt-4">Antal: 1</h5>
                                        <h5>Pris: <span class="text-danger">99 kr</span></h5>
                                    </div>
                                </li>
                                <hr />
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                                    <div class="image-parent">
                                        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/as_I_lay.jpg" class="img-fluid" alt="lay">
                                    </div>
                                    <div class="order-book-info-container">
                                        <h5>As I Lay Dying</h5>
                                        <h5>William Faulkner</h5>
                                        <h5 class="mt-4">Antal: 1</h5>
                                        <h5>Pris: <span class="text-danger">129 kr</span></h5>
                                    </div>
                                </li>
                                <hr />
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                                    <div class="image-parent">
                                        <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/things_fall_apart.jpg" class="img-fluid" alt="things">
                                    </div>
                                    <div class="order-book-info-container">
                                        <h5>Things Fall Apart</h5>
                                        <h5>Chinua Achebe</h5>
                                        <h5 class="mt-4">Antal: 1</h5>
                                        <h5>Pris: <span class="text-danger">99 kr</span></h5>
                                    </div>
                                </li>
                                <hr />
                            </ul>

                            <div class="order-book-summary mt-4">
                                <h5>Frakt: 29 kr</h5>
                                <hr />
                                <h5>Summa: 356 kr</h5>
                            </div>

                        </div>
                    </div>
                </div>*@

        </div>

    </div>

</div>