@page

    ViewData["Title"] = "Order History";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}


<h1>ORDERS.</h1>
<a class="btn btn-outline-secondary" asp-controller="Order" asp-action="Historia">order History</a>
