@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";

}

<h2 class="m-2 text-secondary">Populärt</h2>
<div class="row mb-2">

    @if (Model != null)
    {
        @foreach (var book in Model.PopularBooks)
        {
            <div class="col col-2">
                <partial name="_BookCard" model=@book />
            </div>
        }
    }
</div>