@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";

    //BookLayoutViewModel PopularBooks = new BookLayoutViewModel();
    //PopularBooks.Books = Model.PopularBooks;
    //PopularBooks.CardLayoutTitle = "Popular Books";
    //PopularBooks.ColumnSize = 2;
}
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="slideshow-container">
        <br /><br />

        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="~/img/Reklam/Bild1.png" style="width:100%">
            <div class="text">Books Of The Week</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="~/img/Reklam/Bild2.png" style="width:100%">
            <div class="text">Best Seller</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="~/img/Reklam/Bild3.png" style="width:100%">
            <div class="text">New Arrival</div>
        </div>
        <br />
    </div>
    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>






    <partial name="_CardLayoutContainer" model=@Model.PopularBooksObject />


    @*<h2 class="text-secondary">Populärt</h2>
        <div class="row">

            @if (Model != null)
            {
                @foreach (var book in Model.PopularBooks)
                {
                    <div class="col col-2">
                        <partial name="_BookCard" model=@book />
                    </div>
                }
            }
        </div>*@



    <link rel="stylesheet" href="~/css/slideshow.css" />
    <script src="~/js/slideshow.js"></script>
</body>
</html>