@model SearchBookViewModel

@{
    ViewData["Title"] = "Search Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="Search">
    <partial name="_CardLayoutContainer" model=@Model.SearchBooksObject />
</div>

<!--<h2 class="text-secondary">Sreach Result</h2>
<div class="row">-->

    @*@if (Model != null)
        {
            @foreach (var book in Model.Books)
            {

                <div class="col col-2">
                    <partial name="_BookCard" model=@book />
                </div>
            }
        }

        @if (Model == null)§
        {
            <p>No Result found!!</p>
        }*@
<!--</div>-->
