@model SearchBookViewModel

    

@{
    ViewData["Title"] = "Search Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2 class="text-secondary">Search Result</h2>

<div class="container">
    <div >
        <img class="mx-auto d-block" src="~/img/general/NotFound.png"  />
    </div>
</div>
