* {
    margin: 0;
    padding: 0;
}

body {
}
h1 {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-link {
    color: #6c757d;
}

    .nav-link:hover {
        color: black;
    }

body {
    background-color: #fff;
}

header {
    background-color: #f8f9fa;
}

.logo {
    position: relative;
    top: -5px;
    width: 50%;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
}

.navbar-section {
    display: flex;
    width: 100%;
}

.icon-container {
    position: absolute;
    right: 10px;
    top: 25px;
}

    .icon-container svg {
        flex: 1;
    }

.search-bar {
    position: relative;
    top: 20px;
}

footer {
    width:100%;
    height: 400px;
    background-color: #f8f9fa;
}

.navbar-container {
    display: flex;
    flex-direction: column;
}

.navbar-first-container {
    width: 100%;
    display: flex;
}

.navbar-second-container {
    width: 100%;
    /*background-color: #6c757d;*/
}

.content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: calc(100vh - 458px);
}

.login-form-container {
    position: relative;
    width: 500px;
    margin: auto;
    top: 30px;
}

.order-book-info-container {
    text-align: right;
}

.order-book-summary {
    text-align: right;
}

.buy-button-icon {
    position: relative;
    top: -1px;
}

.book-detail-img-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.book-details-info-container {
    min-height: 310px;
    background-color: #f8f9fa;
}

.card a {
    color: black;
    text-decoration: none;
}

.card-image {
    width: 100%;
    height: 267px;
    object-fit: cover;
}

.card-body {
    height: 225px;
}

.card-price {
    position: absolute;
    bottom: 15px;
}

.home-link {
    border: none;
    padding: 12px 16px;
    cursor: pointer;
}
